<main>
<main class="filter-container">
  <div class="filter-options">
    <div class="box" *ngIf="showCart">{{ cartMessage }}</div>
    <div>
      <label for="veg-switch" style="color: black;">Veg</label>
      <label class="switch">
        <input type="checkbox" id="veg-switch" [(ngModel)]="showVeg">
        <span class="slider round"></span>
      </label>
      <label for="non-veg-switch"  style="color: black;">Non-veg</label>
      <label class="switch">
        <input type="checkbox" id="non-veg-switch" [(ngModel)]="showNonVeg">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="container">
    <div class="row">
<h2 style="color:black">Breads</h2>
<div class="row">
  <div class="card col-2" *ngFor="let bread of getFilteredBreads()">
    <img [src]="bread.image" [alt]="bread.name">
    <h3>{{ bread.name }}</h3>
    <p class="price">{{ bread.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <button (click)="addItemToCart(bread)" *ngIf="(showVeg && bread.type === 'veg') || (showNonVeg && bread.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>  </div>
</div>

<h2 style="color:black">Curries</h2>
<div class="row">
  <div class="card col-2" *ngFor="let curry of getFilteredCurries()">
    <img [src]="curry.image" [alt]="curry.name">
    <h3>{{ curry.name }}</h3>
    <p class="price">{{ curry.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <button (click)="addItemToCart(curry)" *ngIf="(showVeg && curry.type === 'veg') || (showNonVeg && curry.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>
  </div>
</div>

<h2 style="color:black">Main Course</h2>
<div class="row">
  <div class="card col-2" *ngFor="let maincourse of getFilteredMainCourses()">
    <img [src]="maincourse.image" [alt]="maincourse.name">
    <h3>{{ maincourse.name }}</h3>
    <p class="price">{{ maincourse.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <br>
    <button (click)="addItemToCart(maincourse)" *ngIf="(showVeg && maincourse.type === 'veg') || (showNonVeg && maincourse.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>
  </div>
</div>

</div>
</div>
</main>