<main>
<main class="filter-container">
  <div class="filter-options">
    <div class="box" *ngIf="showCart">{{ cartMessage }}</div>
  </div>
  <div class="container">
    <div class="row">
    <h2 style="color:black">Desserts</h2>
    <div class="row">
      <div class="card col-2" *ngFor="let dessert of getFilteredDesserts()">
        <img [src]="dessert.image" [alt]="dessert.name">
        <h3>{{ dessert.name }}</h3>
        <p class="price">{{ dessert.price | currency: 'INR' }}</p>
        <div class="rating">
        </div>
        <br>
        <button (click)="addItemToCart(dessert)">Add to Cart</button>
      </div>
    </div>
<h2 style="color:black">Icecreams</h2>
<div class="row">
  <div class="card col-2" *ngFor="let icecream of getFilteredIcecreams()">
    <img [src]="icecream.image" [alt]="icecream.name">
    <h3>{{ icecream.name }}</h3>
    <p class="price">{{ icecream.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <button (click)="addItemToCart(icecream)">Add to Cart</button>  </div>
</div>
</div>
</div>
</main>