
<body>
  <div class="container">
    <h1 style="color:black">Your order has been placed successfully!</h1>
    <p style="color:rgb(226, 25, 25);;" >Order ID: {{ orderId }}</p>
    <p style="color:rgb(229, 19, 19);">Transaction ID: {{ transactionId }}</p>
    <ul>
      <li *ngFor="let item of items">{{ item.name }} - {{ item.price }}</li>
      <li>Total: ₹{{ total }}</li>
    </ul>
    <p>"Your food is in transit! Get ready to dig in and indulge in some culinary delights!"</p>
    <div class="buttons">
      <button routerLink="/my-orders">My Orders</button>
    </div>
  </div>
  
</body>
  