.container {
  height: 160vh; 
  background-image: url('https://www.bhmpics.com/downloads/fast-food-images/63.fast-food-gericht-auf-blau_155003-27518.jpg');
  background-size: cover;
  margin-top: 7%;
  margin-bottom: -7%;
}

.user-profile {
  padding-top: 100px; 
  padding-bottom: 180px; 
  min-height: 70vh; 
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}

.button-container {
  display: flex;
  justify-content: center; 
}

.btn + .btn {
  margin-left: 10px; 
 
}

.row .col-md-6 {
  margin-bottom: 20px;
}

.form-group.row{
  margin-bottom: -10px; 
}
.user-profile h2 {
  text-align: center;
  font-size: 35px; 
  // font-style: italic; 
}