<div class="orders-container" *ngIf="orders.length > 0; else noOrders">
    <h2>Orders of Restaurant</h2>
    <table>
      <thead>
        <tr>
          <th>Item ID</th>
          <th>Item Name</th>
          <th>Quantity</th>
          <th>Cost</th>
          <!-- <th>Restaurant ID</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order.itemId }}</td>
          <td>{{ order.itemName }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.cost }}</td>
          <!-- <td>{{ order.restaurantId }}</td> -->
        </tr>
      </tbody>
    </table>
</div>
<ng-template #noOrders>
    <div class="no-orders-container">
        <p>No orders available.</p>
    </div>
</ng-template>
<app-merchant-header></app-merchant-header>
