.container {
  margin: 20px auto;
  max-width: 960px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.cart-table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

thead {
  background-color: #F8F8F8;
}

th {
  padding: 10px;
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}

tbody tr {
  color:whitesmoke;
  border-bottom: 1px solid #F8F8F8;
}

td {
  color: black;
  padding: 10px;
  font-size: 16px;
}

.quantity-button {
  background-color: green;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;

}


.total-row {
  font-size: 18px;
  font-weight: bold;
}

.trash-button {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-buttons button {
  background-color: #D9534F;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
}

.cart-buttons button:hover {
  background-color: #C9302C;
}
body{
  margin-top: 6%;
  margin-bottom: -8%;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-color:lightgrey;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Roboto', sans-serif;
  
}
*::-webkit-scrollbar {
  display: none;
}
