<body>
  <div class="scrollable-section">
<div class="container">
  <h2 style="color:black">My Cart</h2>
  <table class="cart-table">
    <thead>
      <tr>
        <th style="text-align: center;">ID</th>
        <th style="text-align: center;">Name</th>
        <th style="text-align: center;">Type</th>
        <th style="text-align: center;">Price</th>
        <th style="text-align: center;">Quantity</th>
        <th style="text-align: center;">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of cartItems" style="text-align: center;">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.price | currency: 'INR' }}</td>
        <td>
          <button class="quantity-button" (click)="decreaseItemQuantity(item)" *ngIf="item.quantity > 1">-</button>
          {{ item.quantity }}
          <button class="quantity-button" (click)="increaseItemQuantity(item)">+</button>
        </td>
        <td>{{ (item.price * item.quantity) | currency: 'INR' }}</td>
        <td>
          <div class="trash-button">
            <button (click)="removeItemFromCart(item)">
              <span class="bi bi-trash" style="font-size:1.5rem;color: red;"></span>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <br>
      <tr>
        <td colspan="4" style="text-align: center; font-weight: bold;color:black">Total:</td>
        <td style="text-align: center;color:rgb(18, 17, 17); font-weight: bold;">{{ getTotalPrice() | currency: 'INR' }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
  <div class="cart-buttons">
    <button routerLink="/dashboard">Add More</button>
    <button routerLink="/order-form" *ngIf="cartItems.length > 0">Checkout</button>
  </div>
</div>
</div>
</body>