<main>
<main class="filter-container">
  <div class="filter-options">
    <div class="box" *ngIf="showCart">{{ cartMessage }}</div>
    <div>
      <label for="veg-switch" style="color: black;">Veg</label>
      <label class="switch">
        <input type="checkbox" id="veg-switch" [(ngModel)]="showVeg">
        <span class="slider round"></span>
      </label>
      <label for="non-veg-switch"  style="color: black;">Non-veg</label>
      <label class="switch">
        <input type="checkbox" id="non-veg-switch" [(ngModel)]="showNonVeg">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="container">
<h2 style="color:black">Cocktails</h2>
<div class="row">
  <div class="card col-2" *ngFor="let cocktail of getFilteredCocktails()">
    <img [src]="cocktail.image" [alt]="cocktail.name">
    <h3>{{ cocktail.name }}</h3>
    <p class="price">{{ cocktail.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <button (click)="addItemToCart(cocktail)" *ngIf="(showVeg && cocktail.type === 'veg') || (showNonVeg && cocktail.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>  </div>
</div>

<h2 style="color:black">Mocktails</h2>
<div class="row">
  <div class="card col-2" *ngFor="let mocktail of getFilteredMocktails()">
    <img [src]="mocktail.image" [alt]="mocktail.name">
    <h3>{{ mocktail.name }}</h3>
    <p class="price">{{ mocktail.price | currency: 'INR' }}</p>
    <div class="rating">
    </div>
    <button (click)="addItemToCart(mocktail)" *ngIf="(showVeg && mocktail.type === 'veg') || (showNonVeg && mocktail.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>  </div>
</div>
<div class="row">
  <h2 style="color:black">Liquor</h2>
  <div class="row">
    <div class="card col-2" *ngFor="let liquor of getFilteredLiquor()">
      <img [src]="liquor.image" [alt]="liquor.name">
      <h3>{{ liquor.name }}</h3>
      <p class="price">{{ liquor.price | currency: 'INR' }}</p>
      <div class="rating">
      </div>
      <br>
      <button (click)="addItemToCart(liquor)" *ngIf="(showVeg && liquor.type === 'veg') || (showNonVeg && liquor.type === 'non-veg') || (!showVeg && !showNonVeg)">Add to Cart</button>
    </div>
  </div>
</div>
</div>
</main>
<!-- <app-footer></app-footer> -->