<div class="footer">
    <div class="col">
        <h3>Food Fun</h3>
        <a>2024 Bundl</a>
        <a>Technologies Pvt.ltd</a>
    </div>
    <div class="col">
        <h3>Company</h3>
        <a>About</a>
        <a>Career</a>
        <a>Team</a>
        <a>FoodFun one</a>
        <a>FoodFun Instamart</a>
        <a>FoodFun Genie</a>
    </div>
    <div class="col">
        <h3>Company</h3>
        <a routerLink="/about">About</a> <!-- Link to the About page -->
        <a routerLink="/career">Career</a>
        <a routerLink="/team">Team</a>
        <a routerLink="/foodfun-one">FoodFun one</a>
        <a routerLink="/foodfun-instamart">FoodFun Instamart</a>
        <a routerLink="/foodfun-genie">FoodFun Genie</a>
    </div>
    <div class="col">
        <h3>Contact Us</h3>
        <a routerLink="/help-support">Help & Support</a>
        <a (click)="navigateToMerchantReg()">Partner with us</a>
        <a routerLink="/ride-with-us">Ride with us</a><br>
        <h3>Legal</h3>
        <a routerLink="/terms-conditions">Terms & Conditions</a>
        <a routerLink="/cookie-policy">Cookie policy</a>
        <a routerLink="/privacy-policy">Privacy Policy</a>
    </div>
    <div class="col">
        <h3>We deliver to</h3>
        <a>Patna</a>
        <a>Gurgaon</a>
        <a>Hyderabad</a>
        <a>Delhi</a>
        <a>Mumbai</a>
        <a>Pune</a>
        <a><select name="course list">
            <option>589 cities</option>
            <option>Patna</option>
            <option>Ranchi</option>
            <option>Bhuvaneswar</option>	
        </select></a>
    </div>
    </div>