<div class="bag">    
    <div class="main-dessert">
      <h3 style="text-align: center;">Desserts</h3>
      <div class="dessert-list">
        <div class="dessert-item" *ngFor="let dessert of desserts">
          <img [src]="dessert.image" alt="dessert Image" (click)="navigateToDesserts(dessert.link)">
          <div class="dessert-details" style="text-align: center;">
            <h3>{{ dessert.title }}</h3>
            <p>{{ dessert.description }}</p>
          </div>
        </div>
      </div>
    </div>
    
   