/* body {
  background-image: url('/assets/img/bg/bg10.jpg');
  background-size: cover;
  background-position: center center;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height:100vh;
  margin-top: 9%;
}

h2 {
  color: #000;
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}

table {
  border-collapse: collapse;
  margin: 1.5rem auto;
  max-width: 80%;
  width: 100%;
}

th {
  background-color:chocolate;
  color: #fff;
  font-weight: 600;
  padding: 0.75rem 1rem;
  text-align: center;
}

td {
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: #e6e6e6;
} */