<div class="bag">
    <div class="starter-page">
      <h3 style="text-align: center;">Starters</h3>
      <div class="starter-list">
        <div class="starter-item" *ngFor="let starter of starters">
          <img [src]="starter.image" alt="starter Image" (click)="navigateToStarters(starter.link)">

          <div class="starter-details" style="text-align: center;">
            <h3>{{ starter.title }}</h3>
            <p>{{ starter.description }}</p>
          </div>
        </div>
      </div>
    </div>
    