<div class="bag">
    <div class="beverage-page">
      <h3 style="text-align: center;">Beverages</h3>
      <div class="beverage-list">
        <div class="beverage-item" *ngFor="let beverage of beverages">
          <img [src]="beverage.image" alt="beverage Image" (click)="navigateToBeverages(beverage.link)">
          <div class="beverage-details" style="text-align: center;">
            <h3>{{ beverage.title }}</h3>
            <p>{{ beverage.description }}</p>
          </div>
        </div>
      </div>
    </div>
    
   